#### Data sources:
IRS tax return data:

http://www.irs.gov/uac/SOI-Tax-Stats-Individual-Income-Tax-Statistics-ZIP-Code-Data-(SOI)  (copy & paste link)

http://www.irs.gov/uac/SOI-Tax-Stats-Corporation-Complete-Report#corp


US Census Bureau data: 
http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml

US Bureau of Labor Statistics:
http://www.bls.gov/data/

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

## Load Data

In [2]:
%ls data/

11coalccr.zip     12zp05ca.xls      12zpallagi.csv    12zpallnoagi.csv  12zpdoc.doc

In [3]:
# read file the original data
taxD = pd.read_csv('data/12zpallnoagi.csv')

In [4]:
#taxD.columns
taxD.head()

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
0,1,AL,0,0,2023670,795700,765000,426400,1220240,4201850,...,22130,118812,1267440,11415697,1408860,12028364,306060,1344258,1639820,4774834
1,1,AL,35004,0,4930,1940,2150,720,2550,10170,...,30,70,3570,24332,3800,25545,750,2038,4020,10592
2,1,AL,35005,0,3370,1310,1100,880,1970,6800,...,0,0,2150,9178,2370,9809,420,984,2860,7970
3,1,AL,35006,0,1300,470,650,170,900,2790,...,0,0,890,5043,970,5244,140,239,1130,3060
4,1,AL,35007,0,11800,4580,5250,1750,5510,25460,...,80,290,8120,59626,8870,63335,2130,6820,9290,23904

## Clear Table
- Remove invalid zip codes

In [5]:
# Remove invalid zip codes
isNoZipCode=(taxD['ZIPCODE']==0)|(taxD['ZIPCODE']==99999)
print np.sum(isNoZipCode), " rows "

102  rows

In [6]:
td = taxD.ix[~isNoZipCode,:]
print "Before ", taxD.shape
print "After  ", td.shape

Before  (27820, 77)
After   (27718, 77)

In [7]:
# Remove unnecessary columns
removeColList = ['STATEFIPS','STATE','AGI_STUB']

isKeepColumn = True
for colName in removeColList:
    isKeepColumn = isKeepColumn & ( td.columns != colName )

td = td[td.columns[isKeepColumn]]

print "After ", td.shape

After  (27718, 74)

In [17]:
print td.shape
td.head()

(27718, 74)

,ZIPCODE,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,A00100,N00200,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
1,35004,4930,1940,2150,720,2550,10170,3340,257563,4320,...,30,70,3570,24332,3800,25545,750,2038,4020,10592
2,35005,3370,1310,1100,880,1970,6800,2510,130344,2860,...,0,0,2150,9178,2370,9809,420,984,2860,7970
3,35006,1300,470,650,170,900,2790,920,59920,1090,...,0,0,890,5043,970,5244,140,239,1130,3060
4,35007,11800,4580,5250,1750,5510,25460,9310,630557,10340,...,80,290,8120,59626,8870,63335,2130,6820,9290,23904
5,35010,8660,3020,2870,2660,5060,19560,8460,384835,7470,...,60,397,4750,38809,5230,41001,1060,3471,7290,21699

## Save processed file

In [19]:
            # write to csv, no index
            td.to_csv('data/12zpallnoagi_proc.csv', index_label=False)

In [129]:
# separate the zip codes from the features
isZipCode = td.columns=='ZIPCODE'
zipcode = td[td.columns[ isZipCode]]
feat    = td[td.columns[~isZipCode]]

print "zip code: ", zipcode.shape
print "feat      ", feat.shape

zip code:  (27718, 1)
feat       (27718, 73)

In [136]:
feat.head()

,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,A00100,N00200,A00200,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
1,4930,1940,2150,720,2550,10170,3340,257563,4320,212053,...,30,70,3570,24332,3800,25545,750,2038,4020,10592
2,3370,1310,1100,880,1970,6800,2510,130344,2860,106936,...,0,0,2150,9178,2370,9809,420,984,2860,7970
3,1300,470,650,170,900,2790,920,59920,1090,49336,...,0,0,890,5043,970,5244,140,239,1130,3060
4,11800,4580,5250,1750,5510,25460,9310,630557,10340,513751,...,80,290,8120,59626,8870,63335,2130,6820,9290,23904
5,8660,3020,2870,2660,5060,19560,8460,384835,7470,261554,...,60,397,4750,38809,5230,41001,1060,3471,7290,21699

In [14]:
td.to_csv?

In [82]:
#
(a)

array([-1, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2,
       -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2,
       -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2,
       -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2, -2,
       -2, -2, -2, -2, -2, -2, -2, -2, -2])